# k8s/deployment.yaml

# --- 1. NODE.JS BACKEND ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: node
        image: my-node-app:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        # --- EZT A RÉSZT ILLESZD BE ---
        env:
          - name: ADMIN_PASSWORD  # Így hívják majd a Node.js-en belül
            valueFrom:
              secretKeyRef:
                name: app-secrets # A széf neve (amit az 1. lépésben adtál)
                key: ADMIN_PASSWORD # A kulcs a széfben
        # ------------------------------
---
# Ez a belső szolgáltatás. Kívülről NEM elérhető (ClusterIP), csak az Nginx látja.
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 3000
  type: ClusterIP

---

# --- 2. NGINX FRONTEND ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config-vol
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-config-vol
        configMap:
          name: nginx-conf
---
# Ez a publikus kapu. A LoadBalancer típus miatt elérhető lesz localhost:80-on.
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer